$primary-color: #8403fc;
$action-color: #7602e3;
$action-hover-color: #6902ca;
$action-click-color: #6902ca;
$primary-font: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$secondary-font: 'Akaya Telivigala', cursive;
$black-color: #333333;
$card-shadow: 0 0px 20px rgba(154, 160, 185, 0.2),
    0 15px 60px rgba(166, 173, 201, 0.35);
